@using Site.Service.SiteService.SiteServices;
@{
    List<Site_Cates> list = ViewData["list"] as List<Site_Cates>;
    int page = (int)ViewData["page"];
    int pageSize = (int)ViewData["pageSize"];
    int rowCount = (int)ViewData["rowCount"];
}
<table class="tableClass">
    <tr>
        <th style="width:80px;">序号</th>
        <th style="width:80px;">分类ID</th>
        <th style="width:80px;">路径</th>
        <th>表索引</th>
        <th style="text-align: left">名称</th>
        <th style="text-align: center">分类类型</th>
        <th style="text-align: center">创建人</th>
        <th style="text-align: center">创建时间</th>
        <th style="text-align: left">操作</th>
    </tr>
    @if (list.Count > 0)
    {
        int i = 1;
        foreach (Site_Cates item in list)
        {
            <tr>
                <td style="width:80px;">@i</td>
                <td style="width:80px;">@item.c_id</td>
                <td style="width:80px;">@item.c_path</td>
                <td>@item.c_tableId</td>
                <td style="text-align: left">
                    @{
                        if (item.c_isMainCate)
                        {
                            <strong>@item.c_name</strong>
                        }
                        else
                        {
                            <span>&nbsp;&nbsp;&nbsp;@item.c_name</span>
                        }
                    }
                </td>

                <td style="text-align: center">@item.c_type</td>
                <td style="text-align: center">@item.c_createUser</td>
                <td style="text-align: center">@item.c_createTime</td>
                <td style="text-align: left">
                    @{
                        if (item.c_path.Length == 2)
                        {
                            <a href="javascript:void(0);" class="op" onclick="btnEdit(false,'@item.c_gid')">改</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="op" onclick="btnSubEdit('@item.c_gid','@item.c_tableId')">改</a>
                        }
                    }
                    <a href="javascript:void(0);" class="op" onclick="btnDelete('@item.c_gid')">删</a>
                    @{
                        if (item.c_path.Length == 2)
                        {
                            <a href="javascript:void(0);" class="op" onclick="btnSubEdit('','@item.c_tableId')">+子分类</a>
                        }
                    }

                </td>
            </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td style="text-align: center" colspan="8">暂无任何数据</td>
                            </tr>
                        }
</table>
<div id="pageBar" class="page"></div>

<script type="text/javascript">
    $(function () {
        //页码条
        UserPage.MakePageBar("pageBar", '@rowCount', '@page', '@pageSize', function () {
            LoadList(UserPage.currentPage);
        });
        $(".tableClass tr:gt(0)").mouseenter(function () {
            $(this).addClass("mouseOver");
        }).mouseleave(function () {
            $(this).removeClass("mouseOver");
        }).click(function () {
            $(this).addClass("mouseClick").siblings().removeClass("mouseClick");
        });
    });
</script>