@using Site.Service.SiteService.SiteServices;
@using Site.Common;
@{
    Dictionary<string, List<Site_CMSItem>> dic = ViewBag.dataList;
}
@@{
    string pageParam = Request.RequestContext.RouteData.Values["pageParam"]==null?"":Request.RequestContext.RouteData.Values["pageParam"].ToString();
    string[] arr = pageParam.Split(new string[] { "_" }, StringSplitOptions.RemoveEmptyEntries);
    string cateId="-";
    if(arr.Length>0)
    {
        cateId=arr[0];
    }
}
<header id="header">
    <div id="header-top">
        <div class="wrapper clearfix">
            <div id="welcome">
                Welcome to yu yang web
            </div>
            <!--导航-->
            <nav id="top-nav">
                <ul id="top-menu" class="clearfix">
                    @if (dic.Count > 0)
                    {
                        foreach (Site_CMSItem item in dic["10"])
                        {
                            <li @@(cateId=="@item.i_intro" ?"class=current-menu-item":"")>
                                <a href="@(item.i_intro=="-"?"/":SiteUntility.GetRelationCateUrl(item.i_intro))" title="@item.i_title">@item.i_title</a>
                            </li>
                        }
                    }
                </ul>
            </nav><!--end:top-nav-->
        </div><!--wrapper-->
    </div><!--header-logo-->
    <div id="header-middle">
        <div class="wrapper clearfix">
            <div id="logo-image"><a href="/"><img src="~/Content/Bootstrap/placeholders/logo.png" alt="logo"></a></div>
        </div><!--wrapper-->
    </div>
    <!--子导航-->
    <div id="navigation">
        <nav id="secondary-menu" class="wrapper clearfix">
            <ul class="clearfix" id="main-nav">
                @if (dic.Count > 0)
                {
                    foreach (Site_CMSItem item in dic["10"])
                    {
                        <li @@(cateId=="@item.i_intro" ?"class=current-menu-item":"")>
                            <a href="@(item.i_intro=="-"?"/":SiteUntility.GetRelationCateUrl(item.i_intro))" title="@item.i_title">@item.i_title</a>
                        </li>
                    }
                }
            </ul><!--end:main-nav-->

        </nav><!--end:secondary-menu-->
    </div><!--navigation-->
    <div id="header-bottom">
        <div class="wrapper clearfix">
            <div id="headline" class="clearfix">
                <h6>最新新闻</h6>
                <div class="horizontal_scroller" style="cursor: pointer;">
                    <ul class="scrollingtext clearfix" style="left: -685.286px;">
                        @{
                            int i = 1;
                            foreach (Site_CMSItem item in dic["11"].GetLengthObject<Site_CMSItem>(2))
                            {
                                <li @(i==2?"":"")>
                                    @item.i_createTime.ToString("yyyy.MM.dd") - <a href="@SiteUntility.GetRelationDetailUrl(item.i_c_gid)" title="@item.i_title">@item.i_title</a>
                                </li>
                                i++;
                            }
                        }
                    </ul>
                </div>
            </div><!--end:headline-->
            <div id="search-social" class="clearfix">
                <div class="search-box clearfix">
                    <form action="#" class="search-form" method="get">
                        <input type="text" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" value="Search" name="s" class="search-text">
                        <input type="submit" value="" name="submit" class="search-submit">
                    </form><!-- search-form -->
                </div><!--end:search-box-->
            </div><!--search-social-->
        </div><!--end:wrapper-->
    </div>
</header>



