@using Site.Service.SiteService.SiteServices;
@using Site.Admin.Common;
@using Site.Common;
@{
    Dictionary<string, List<Site_CMSItem>> dic = ViewBag.dataList;
}

@@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    }

@if (dic.Count > 0)
{

    <div id="sidebar" class="col-md-4">
        <!---- Start Widget ---->
        <div class="widget wid-follow">
            <div class="heading"><h4><i class="fa fa-users"></i> Follow Us</h4></div>
            <div class="content">
                <ul class="list-inline">
                    <li>
                        <a href="facebook.com/">
                            <div class="box-facebook">
                                <span class="fa fa-facebook fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="facebook.com/">
                            <div class="box-twitter">
                                <span class="fa fa-twitter fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="facebook.com/">
                            <div class="box-google">
                                <span class="fa fa-google-plus fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <img src="~/images/banner.jpg" />
            </div>
            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-tags">
            @{
                for (int i = 0; i < dic["10"].GetLength<Site_CMSItem>(1); i++)
                {
                    <div class="heading"><h4><i class="fa fa-tags"></i> @dic["10"][i].i_title</h4></div>
                    <div class="content">
                        @dic["10"][i].i_intro
                    </div>
                }
            }
            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-post">
            <div class="heading"><h4><i class="fa fa-globe"></i> 精彩推荐</h4></div>
            <div class="content">
                @{
                    for (int i = 0; i < dic["11"].GetLength<Site_CMSItem>(3); i++)
                    {
                        <!--140*78-->
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>@dic["11"][i].i_subTitle</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>@dic["11"][i].i_title.SubOmitString(10)</p>
                                </div>
                                <img src="@dic["11"][i].i_c_img_src" />
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">@dic["11"][i].i_title.SubOmitString(10)</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>@dic["11"][i].i_createTime.ToStringFullDate()</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-news">
            <div class="heading"><h4><i class="fa fa-clock-o"></i> 热门点击</h4></div>
            <div class="content">
                @{
                    for (int i = 0; i < dic["12"].GetLength<Site_CMSItem>(3); i++)
                    {
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>@dic["12"][i].i_subTitle</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>@dic["12"][i].i_title.SubOmitString(10)</p>
                                </div>
                                <img src="@dic["12"][i].i_c_img_src" />
                            </div>
                            <h3 class="vid-name"><a href="#">@dic["12"][i].i_title.SubOmitString(10)</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>@dic["12"][i].i_createTime.ToStringFullDate()</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="line"></div>
        </div>
        <div class="widget wid-post">
            <div class="heading"><h4><i class="fa fa-comments"></i> Comment</h4></div>
            <div class="content">
                @{
                    for (int i = 0; i < dic["13"].GetLength<Site_CMSItem>(3); i++)
                    {
                        <!--50*50-->
                        <div class="post">
                            <a href="single.html">
                                <img src="@dic["13"][i].i_c_img_src" />
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>@dic["13"][i].i_title.SubOmitString(10)</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                    <li><i class="fa fa-comments"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="line"></div>
        </div>
        <div class="widget wid-banner">
            <img src="~/images/banner-2.jpg" />
        </div>
    </div>
}