@using Site.Service.SiteService.SiteServices;
@using Site.Admin.Common;
@using Site.Common;
@{
    Dictionary<string, List<Site_CMSItem>> dic = ViewBag.dataList;
}

@@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    }

@if (dic.Count > 0)
{

<div id="sidebar" class="col-md-4">
    <!---- 会员信息 ---->
    @@{ 
        Html.RenderPartial("../Sidebar/Video_Detail_Sidebar_VipInfo");
    }    
    <!----热门点击---->
    <div class="widget wid-news">
        <div class="heading"><h4><i class="fa fa-clock-o"></i> 热门点击</h4></div>
        <div class="content">
            @{
                for (int i = 0; i < dic["12"].GetLength<Site_CMSItem>(3); i++)
                {
                    <!--349*195-->
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>@dic["12"][i].i_subTitle</span>
                                <a href="@SiteUntility.GetVideoRelationDetailUrl(dic["12"][i].i_c_type,dic["12"][i].i_c_gid)" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>@dic["12"][i].i_title.SubOmitString(25)</p>
                            </div>
                            <img src="@dic["12"][i].i_c_img_src" />
                        </div>
                        <h3 class="vid-name"><a href="@SiteUntility.GetVideoRelationDetailUrl(dic["12"][i].i_c_type,dic["12"][i].i_c_gid)" target="_blank">@dic["12"][i].i_title.SubOmitString(25)</a></h3>
                        <div class="info">
                            <span><i class="fa fa-calendar"></i>@dic["12"][i].i_createTime.ToStringFullDate()</span>
                            <span><i class="fa fa-heart"></i>1,200</span>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="line"></div>
    </div>
</div>
}